@import url('https://fonts.googleapis.com/css?family=Nunito');

$cor-padrao: #e5ad24;

@font-face {
    font-family: 'Poor';
    src: url('../img/PoorRichard.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Nunito', sans-serif;
	padding-top: 80px;
}

#hero {
  /*background: url('../img/bg.png');*/
}

.rodape {
    border-top: 2px solid #b0b0b0;
	background: url('../img/banner-grid.png');
}

@media (min-width: 931px){
  #hero, .rodape {
    background-size: 70em;
  }
}

@media (max-width: 931px){
  #hero, .rodape {
    background-size: 70em;
  }
}

@media (max-width: 815px){
  #hero, .rodape {
    background-size: 65em;
  }
}

@media (max-width: 729px){
  #hero, .rodape {
    background-size: 60em;
  }
}

@media (max-width: 669px){
  #hero, .rodape {
    background-size: 55em;
  }
}

@media (max-width: 600px){
  #hero, .rodape {
    background-size: 50em;
  }
}

@media (max-width: 550px){
  #hero, .rodape {
    background-size: 40em;
  }
}

@media (max-width: 450px){
  #hero, .rodape {
    background-size: 35em;
  }
}

@media (max-width: 388px){
  #hero, .rodape {
    background-size: 32em;
  }
}

@media (max-width: 354px){
  #hero, .rodape {
    background-size: 30em;
  }
}

@media (max-width: 322px){
  #hero, .rodape {
    background-size: 28em;
  }
}

@media (max-width: 300px){
  #hero, .rodape {
    background-size: 25em;
  }
}

@media (max-width: 270px){
  #hero, .rodape {
    background-size: 20em;
  }
}

.icon {
	fill: #fff;
	max-width: 2em;
	max-height: 2em;
}

.bg-info1{
  background: $cor-padrao !important;
}

.badge-warning{
  color: #fff;
}

.h3-text{
  color: $cor-padrao !important;
}


.h2-text{
  color: #a60f2a !important;
}

.text-y{
  color: #e5ad24 !important;
}
.text-info {
    color: #ffff !important;
}
.icon {
	fill: #fff;
	max-width: 2em;
	max-height: 2em;
}

.skew{
  -ms-transform:skewY(-2deg);
  -webkit-transform:skewY(-2deg);
  transform:skewY(-2deg);
}

.skew-reverse{
  -ms-transform:skewY(2deg);
  -webkit-transform:skewY(2deg);
  transform:skewY(2deg);
}

.skew-org{
  -ms-transform:skewY(2deg);
  -webkit-transform:skewY(2deg);
  transform:skewY(2deg);
}

.skew-reverse-org{
  -ms-transform:skewY(-2deg);
  -webkit-transform:skewY(-2deg);
  transform:skewY(-2deg);
}

.social-icon {
  fill: #e37128;
}

.social-icon:hover {
  fill: #cc8400;
}

.filter-member {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	&:hover{
	    filter: grayscale(0);
	    transition: 1s;
	}
}

.hr-15-laranja {
  width: 15%;
  background-color: #e47128;
}

.hr-15-branco {
  width: 15%;
  background-color: #fff;
}

.hr-15-verde {
  width: 15%;
  background-color: #00878f;
}

.map {
  height: 50vh;
  width: 100%;
}

.div-text-home {
  color: #806f5c;
  background-color: rgba(255, 255, 255, .55);
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */ 
.numbertext {
  color: #f2f2f2;
  
  /*Silhueta preta*/
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
 /* background-color: white;*/
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.color-white {
    color: white;
}
.bg-galeria {
    background-color: #806f5c;
}

.main-title {
    font-size: 7em;
}
.main-description {
    font-size: 1.7em;
}
.poor{
    font-family: 'Poor';
}

#hero {
background-color: #f0f0f0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='24.4%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f0f0f0'/%3E%3Cstop offset='1' stop-color='%23bda488'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='55.1%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f0d0ac' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23f0d0ac' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23806f5c' stroke-width='2.8' stroke-miterlimit='10' stroke-opacity='0.12'%3E%3Crect x='12.5' y='12.5' width='975' height='975'/%3E%3Crect x='25' y='25' width='950' height='950'/%3E%3Crect x='37.5' y='37.5' width='925' height='925'/%3E%3Crect x='50' y='50' width='900' height='900'/%3E%3Crect x='62.5' y='62.5' width='875' height='875'/%3E%3Crect x='75' y='75' width='850' height='850'/%3E%3Crect x='87.5' y='87.5' width='825' height='825'/%3E%3Crect x='100' y='100' width='800' height='800'/%3E%3Crect x='112.5' y='112.5' width='775' height='775'/%3E%3Crect x='125' y='125' width='750' height='750'/%3E%3Crect x='137.5' y='137.5' width='725' height='725'/%3E%3Crect x='150' y='150' width='700' height='700'/%3E%3Crect x='162.5' y='162.5' width='675' height='675'/%3E%3Crect x='175' y='175' width='650' height='650'/%3E%3Crect x='187.5' y='187.5' width='625' height='625'/%3E%3Crect x='200' y='200' width='600' height='600'/%3E%3Crect x='212.5' y='212.5' width='575' height='575'/%3E%3Crect x='225' y='225' width='550' height='550'/%3E%3Crect x='237.5' y='237.5' width='525' height='525'/%3E%3Crect x='250' y='250' width='500' height='500'/%3E%3Crect x='262.5' y='262.5' width='475' height='475'/%3E%3Crect x='275' y='275' width='450' height='450'/%3E%3Crect x='287.5' y='287.5' width='425' height='425'/%3E%3Crect x='300' y='300' width='400' height='400'/%3E%3Crect x='312.5' y='312.5' width='375' height='375'/%3E%3Crect x='325' y='325' width='350' height='350'/%3E%3Crect x='337.5' y='337.5' width='325' height='325'/%3E%3Crect x='350' y='350' width='300' height='300'/%3E%3Crect x='362.5' y='362.5' width='275' height='275'/%3E%3Crect x='375' y='375' width='250' height='250'/%3E%3Crect x='387.5' y='387.5' width='225' height='225'/%3E%3Crect x='400' y='400' width='200' height='200'/%3E%3Crect x='412.5' y='412.5' width='175' height='175'/%3E%3Crect x='425' y='425' width='150' height='150'/%3E%3Crect x='437.5' y='437.5' width='125' height='125'/%3E%3Crect x='450' y='450' width='100' height='100'/%3E%3Crect x='462.5' y='462.5' width='75' height='75'/%3E%3Crect x='475' y='475' width='50' height='50'/%3E%3Crect x='487.5' y='487.5' width='25' height='25'/%3E%3C/g%3E%3Crect fill-opacity='0.12' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");/*
background-attachment: fixed;*/
background-size: cover;
}
